hgroup.heading {
    border-bottom: 0.125rem solid black;
    /* CSS variables for background colors are set by the parent component */
    background: linear-gradient(45deg, var(--bg-start), var(--bg-end));
    padding: var(--default-padding);

    h2 {
        color: black;
        font-size: 1.6rem;
        letter-spacing: 0.025em;
        margin: 0 0 0.5em;
        text-transform: uppercase;
    }

    p {
        font-style: italic;
        margin: 0;
    }
}

.flexRow {
    display: flex;
    padding: var(--default-padding);

    img {
        object-fit: contain;
        height: 14rem;
        width: 7rem;
        margin-top: 0.5rem;
        margin-right: -2.75rem;
        rotate: 4deg;
    }

    .description {
        padding-right: 1.5rem;

        p {
            line-height: 1.4;
        }
        p:first-child {
            margin-top: 0;
        }
        p:last-child {
            margin-bottom: 0;
        }

        :where(p.infoItem) {
            margin: 0.5em 0;
        }
        p.infoItem span {
            font-weight: bold;
        }
    }
}
